@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Manrope', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.25);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.45);
}

.dragBar{
  -webkit-app-region: drag;
}

button {
  background-color: #212121;
  color: #1DB954;
  border: 2px solid #1DB954;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag;
}

button.iconButton {
  border: none;
}

button.pressed, button:active {
  color: #212121;
  background-color: #1DB954;
}

.lyric-line {
  font-size: 25px;
  line-height: 2;
  text-shadow: 0 2px 8px rgba(0,0,0,0.5);
  color: #B3B3B3;
  transition: all 0.3s ease;
  font-weight: 800;
  user-select: none;
}

.lyric-line.active {
  color: white;
  transform-origin: left center;
  transform: scale(1.05);
  font-weight: 800;
}

.loader {
  width: 25px;
  --b: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #B3B3B3;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: l5 1s infinite;
}
@keyframes l5 {to{transform: rotate(.5turn)}}

.scroll-container {
  max-width: '40%';
  overflow: hidden;
  white-space: nowrap;
}

.scroll-text {
  font-size: 15px;
  display: inline-block;
  will-change: transform;
}